<%- include('../partials/header') %>
<h1><%=title%></h1>
  <img src="https://process.filestackapi.com/cache=expiry:max/resize=width:1050/TyzZKw86QzSElYK6bfXK" alt="ejs" width="460" height="345">  
   
      <p>This site was built using Node.js, Express.js and EJS templates by Marjorie Mekkhavong</p>
<%- include('../partials/footer') %>
