<%- include('../partials/header') %>
<h1><%=title%></h1>
  <img src="https://cdn.foodbeast.com/wp-content/uploads/2019/05/LaoFoods_editorialbanner.jpg" alt="laofood" width="460" height="345">

  <p>I like to go on an adventure to try different food out! </p>
      <p>This site was built using Node.js, Express.js and EJS templates by Marjorie Mekkhavong</p>
<%- include('../partials/footer') %>