<%- include('../partials/header') %>
<h1><%=title%></h1>
  <img src="https://img.freepik.com/free-photo/close-up-adventure-woman-feet-walk-mountain-path_1150-1947.jpg?w=1060&t=st=1677615141~exp=1677615741~hmac=990e938f5df2f9876ca01feca1483b93b8e5ced4be2fb3c85da02b5c64b30f19" alt="hiking" width="460" height="345">  
      <p>When the weather is nice, I like to go on hiking trips with friends or myself.</p>    
  
      <p>This site was built using Node.js, Express.js and EJS templates by Marjorie Mekkhavong</p>
<%- include('../partials/footer') %>
