<%- include('../partials/header') %>
<h1><%=title%></h1>
  <img src="https://d33v4339jhl8k0.cloudfront.net/docs/assets/55e7171d90336027d77078f6/images/5c8f56740428633d2cf3b380/file-wGVV7yqBMZ.png" alt="Flowers in Chania" width="460" height="345">
      <p>This site was built using Node.js, Express.js and EJS templates by Marjorie Mekkhavong</p>
<%- include('../partials/footer') %>