<%- include('../partials/header') %>
<h1><%=title%></h1>
  <img src="https://i.stack.imgur.com/EWbus.png" alt="tindog" width="500" height="400">  

  <br><p><a href="https://marjmekk.github.io/tindog-project/">TinDog Project</a></p>
      <p>This is a photo of the project I completed with bootstrap in my self taught course.</p>    
  
      <p>This site was built using Node.js, Express.js and EJS templates by Marjorie Mekkhavong</p>
<%- include('../partials/footer') %>