<%- include('../partials/header') %>
<h1><%=title%></h1>
  <img src="https://www.osfhealthcare.org/blog/wp-content/uploads/2020/11/toy-plane-next-to-mask-passport-and-plane-ticket-765x310.png" alt="traveling" width="500" height="400">
      <p>If I can travel now, I would travel to Southeast Asia.</p>    
  
      <p>This site was built using Node.js, Express.js and EJS templates by Marjorie Mekkhavong</p>
<%- include('../partials/footer') %>